OPCUA to LoRaWAN node-red flow.json
[{"id":"8aa146278f5694e3","type":"OpcUa-Client","z":"88e3d844d6689601","endpoint":"a797d1c2161e3c14","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":140,"wires":[["b8e5681b4ee43ef4","0f5d168b0d7b633a"]]},{"id":"14e33ff97a1513fb","type":"OpcUa-Item","z":"88e3d844d6689601","item":"ns=2;s=grup_de_tags#[New_Shortcut]IoT_data","datatype":"Int32","value":"","name":"","x":240,"y":140,"wires":[["8aa146278f5694e3"]]},{"id":"3cbaa7faf671dd6a","type":"inject","z":"88e3d844d6689601","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["14e33ff97a1513fb"]]},{"id":"b8e5681b4ee43ef4","type":"debug","z":"88e3d844d6689601","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":140,"wires":[]},{"id":"0f5d168b0d7b633a","type":"file","z":"88e3d844d6689601","name":"","filename":"/home/pi/raspi-lmic/examples/ttn-otaa/missatge.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":470,"y":220,"wires":[[]]},{"id":"a797d1c2161e3c14","type":"OpcUa-Endpoint","z":"88e3d844d6689601","endpoint":"opc.tcp://192.168.1.159:4990/FactoryTalkLinxGateway1","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]